@CHARSET "UTF-8";
.wrapper {
    width: 100%;
    height: 1000px;
    background: green;
}
.trumpImg {
	width: 125px;
	height: 150px;
}
.myField, .rank {
    text-align: center;
}
.button {
    text-align: center;
}
.myCard, .cpCard {
    display: inline-block;
}
.myCard {
    width:          125px;
    height:         150px;
    overflow:       hidden;
    position:       relative;
}
.myCard .caption {
    font-size:      150%;
    text-align:         center;
    color:          #fff;
    padding-top:60px;
}
.myCard .mask {
    width:          100%;
    height:         100%;
    position:       absolute;
    top:            0;
    left:           0;
    background-color:   rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s ease-out;
    transition:     all 0.4s ease-out;
}